<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sats.rider.quickeats">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET"/>


    <application
        android:name="com.sats.rider.quickeats.util.DeliveryboyApplication"
        android:allowBackup="true"
        android:icon="@drawable/app_logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/app_logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.sats.rider.quickeats.activity.MainMenu"></activity>
        <activity android:name="com.sats.rider.quickeats.activity.Login"></activity>
        <activity
            android:name="com.sats.rider.quickeats.activity.SplashActivity"
            android:theme="@style/TranparentToolbar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!--<meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyDBhHh8XEBlcIYlx-H3O4YrwHFYdjt97pQ" />-->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/map_key" />
        <!--<meta-data-->
            <!--android:name="com.google.android.geo.API_KEY"-->
            <!--android:value="@string/google_maps_key" />-->

        <service android:name="com.sats.rider.quickeats.fcm.MyFirebaseInstanceIDService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>
        <service android:name="com.sats.rider.quickeats.fcm.MyFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <activity android:name="com.sats.rider.quickeats.activity.Delivered"></activity>
        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="44b5915daf7330d0de425de1d6bc82af9e2d242a" />
    </application>

</manifest>